* {
	margin: 0px auto;
	font-family: 'Helvetica';
}

nav ul li {
	display: inline;
}



nav ul li a {
	text-decoration: none;
}

nav {
	text-align: center;
	word-spacing: 50px;
}


.right {
	float: right;
	width: 25%;
}

.left {
	float: right;
	width: 75%;
}


article p {
	font-family: 'sans-serif';
}