footer {
  background-color: #e2e2e2;
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
}

footer ul li {
  display: inline;
}

footer ul {
  word-spacing: 50px;
}
