div {
  border: 1px solid black;
  margin: 5px;
}

#third > p {
  visibility: hidden;
}

h1 {
  visibility: hidden;
}

div#second {
  visibility: hidden;
}

#second #sixth img {
  visibility: visible;
}
